extends layout

block content
    .l-margin-start
        .l-margin-start
        .l-divider
            .c-divider__left
                h1 Sorry!
            .c-divider__right
    
        p The page you were trying to load is broken... please contact the site administrator so we can fix this!